mixin advantages()
    section.section.advantages 
        .advantages__body.container 
            h2.advantages__title.title Наши преимущества
            .advantages__content 
                .advantages__item 
                    p.advantages__subtitle #[img(src="@img/adventages-icon-1.svg", alt="" draggable="false" loading="lazy")] Легко и просто
                    p.advantages__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.
                .advantages__item 
                    p.advantages__subtitle #[img(src="@img/adventages-icon-2.svg", alt="" draggable="false" loading="lazy")] Быстро и доступно
                    p.advantages__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.
                .advantages__item 
                    p.advantages__subtitle #[img(src="@img/adventages-icon-3.svg", alt="" draggable="false" loading="lazy")] А главное, качественно
                    p.advantages__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.