mixin contacts()
    section.section.contacts 
        .contacts__body.container 
            .contacts__content 
                h2.contacts__title.title Обратная связь
                p.contacts__desc Поговорите с одним из наших сотрудников, чтобы узнать, сколько мы можем получить для вас целевой аудитории за месяц с минимальными усилиями с вашей стороны
                form(action="#" method="post").contacts__form
                    input(type="email" placeholder="Введите свой e-mail" required).contacts__input
                    input(type="number" placeholder="Номер мобильного телефона" required).contacts__input
                    input(type="text" placeholder="Никнейм в Instagram" required).contacts__input
                    textarea(placeholder="Что вы бы хотели спросить о росте в Instagram").contacts__textarea
                    .contacts__info 
                        button(type="submit").contacts__btn.btn Отправить заявку
                        p.contacts__p Нажимая на кнопку вы соглашаетесь на обработку #[span персональных данных ]
            .contacts__img.disable-lg
                img(src="@img/contacts-img.png", alt="" draggable="false" loading="lazy")