mixin footer()
    footer.footer
        .footer__body.container 
            .footer__info 
                p.footer__p Инстаботы
                p.footer__desc © 2021 Copyright reserved Instabots
            p.footer__back.disable-sm Вернуться наверх #[img(src="@img/footer-arrow.svg", alt="" draggable="false" loading="lazy")]
            p.footer__back.enable-sm Наверх #[img(src="@img/footer-arrow.svg", alt="" draggable="false" loading="lazy")]
