mixin rates()
    section.section.rates 
        .rates__body.container 
            h2.rates__title.title Наши тарифы
            .rates__content 
                .rates__item
                    .rates__top 
                        p.rates__subtitle Эконом
                        p.rates__p #[span 2 990 руб] /месяц
                    ul.rates__list 
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio.
                        li.rates__li #[img(src="@img/rates-false.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.rates__li #[img(src="@img/rates-false.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.rates__li #[img(src="@img/rates-false.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio.
                        a(href="#!").rates__btn.btn_white Узнать подробнее
                .rates__item
                    .rates__top 
                        p.rates__subtitle Эконом
                        p.rates__p #[span 2 990 руб] /месяц
                    ul.rates__list 
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio.
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.rates__li #[img(src="@img/rates-false.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.rates__li #[img(src="@img/rates-false.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio.
                        a(href="#!").rates__btn.btn_white Узнать подробнее
                .rates__item
                    .rates__top 
                        p.rates__subtitle Эконом
                        p.rates__p #[span 2 990 руб] /месяц
                    ul.rates__list 
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio.
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.rates__li #[img(src="@img/rates-false.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio.
                        a(href="#!").rates__btn.btn_white Узнать подробнее
                .rates__item
                    .rates__top 
                        p.rates__subtitle Эконом
                        p.rates__p #[span 2 990 руб] /месяц
                    ul.rates__list 
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio.
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.rates__li #[img(src="@img/rates-tick.svg", alt="" draggable="false" loading="lazy")]  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio.
                        a(href="#!").rates__btn.btn_white Узнать подробнее