mixin reviews()
    section.section.reviews 
        .reviews__bvody.container 
            h2.reviews__title.title Отзывы
            .reviews__content 
                .reviews__item 
                    .reviews__top 
                        p.reviews__subtitle #[img(src="@img/reviews-img-1.png", alt="" draggable="false" loading="lazy")] Кот Олежка
                        span.reviews__span 03.06.2021
                    .reviews__info
                        p.reviews__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.
                        .reviews__evalution
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                .reviews__item 
                    .reviews__top 
                        p.reviews__subtitle #[img(src="@img/reviews-img-2.png", alt="" draggable="false" loading="lazy")] Кот Семен
                        span.reviews__span 03.06.2021
                    .reviews__info
                        p.reviews__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.
                        .reviews__evalution
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                .reviews__item 
                    .reviews__top 
                        p.reviews__subtitle #[img(src="@img/reviews-img-3.png", alt="" draggable="false" loading="lazy")] Кот Серега
                        span.reviews__span 03.06.2021
                    .reviews__info
                        p.reviews__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.
                        .reviews__evalution
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star-disabled.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star-disabled.svg", alt="" draggable="false" loading="lazy")
                .reviews__item 
                    .reviews__top 
                        p.reviews__subtitle #[img(src="@img/reviews-img-4.png", alt="" draggable="false" loading="lazy")] Кот Инокентий
                        span.reviews__span 03.06.2021
                    .reviews__info
                        p.reviews__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada gravida nisi sit felis odio. Sociis et pellentesque sed id. Congue arcu turpis est, aliquet porttitor. Congue arcu turpis est, aliquet porttitor.
                        .reviews__evalution
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star.svg", alt="" draggable="false" loading="lazy")
                            img(src="@img/reviews-star-disabled.svg", alt="" draggable="false" loading="lazy")
            .reviews__button
                button(type="button").reviews__btn.reviews__btn_1.btn_white Структурировать котиков
                button(type="button").reviews__btn.reviews__btn_2.btn_white Предыдущий случай