mixin working()
    section.section.working 
        .working__body.container 
            h2.working__title.title Как мы работаем
            .working__row 
                .working__img 
                    img(src="@img/working-img-1.png", alt="" draggable="false" loading="lazy")
                .working__content 
                    p.working__texts #[span.working__span Lorem ipsum ] #[span.working__line] Lorem ipsum #[span.working__line] Lorem ipsum
                    p.working__subtitle Lorem ipsum dolor sit amet, consectetur.
                    p.working__desc Semper sollicitudin ut cursus nunc eu ultricies.
                    p.working__p.working__p_first Lorem ipsum dolor sit amet, consectetur adipiscing elit. Posuere lorem nulla tincidunt egestas nibh. Non orci, et massa sed vulputate proin. Eu euismod diam, arcu sit vitae nam. Tristique orci, ornare sit vel amet.
                    p.working__p.working__p_second Ut elit dui iaculis malesuada in auctor dui. Sollicitudin varius vitae ut vitae lacus, sem dolor fermentum enim. Orci orci interdum pretium adipiscing augue sit nisl adipiscing.
                    a(href="#!").working__btn.btn Забронировать звонок 