// Тема по умолчанию
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: VisueltPro;
    scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }
}
body{
    background: #f0f0f0;
    &.hidden{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 16px 24px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    margin: 24px;
    border-radius: 24px;
    background: url(../img/bg.png) top / cover no-repeat;
    @include media(1200){
        margin: 8px;
    }
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
.btn{
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    color: #FFFFFF;
    background: #4754EB;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms ease;
    @include media(576){
        font-size: 14px;
        line-height: 135%;
    }
    &:hover{
        background: #505DEC;
        box-shadow: 0px 15px 24px rgba(80, 93, 236, 0.25);
        border-radius: 16px;
    }
    &:active{
        background: #3C49DD;
        box-shadow: 0px 8px 24px rgba(60, 73, 221, 0.1);
        border-radius: 16px
    }
    &_white{
        font-weight: 500;
        font-size: 18px;
        line-height: 135%;
        color: #4754EB;
        background: #FFFFFF;
        border-radius: 16px;
        transition: 300ms ease;
        @include media(576){
            font-size: 14px;
            line-height: 135%;
        }
        &:hover{
            box-shadow: 0px 15px 24px rgba(80, 93, 236, 0.25);
        }
        &:active{
            box-shadow: 0px 8px 24px rgba(60, 73, 221, 0.1);
        }
    }
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.section{
    padding: 80px 0;
    @include media(576){
        padding: 40px 0;
    }
}
.title{
    font-weight: 500;
    font-size: 36px;
    line-height: 112%;
    color: #1A1A1A;
    margin-bottom: 40px;
        @include media(576){
            font-weight: 500;
            font-size: 18px;
            line-height: 125%;
            margin-bottom: 30px;
        } 
}