@font-face {
	font-family: AdventPro;
	font-display: swap;
	src: url("../fonts/AdventPro-Regular.woff2") format("woff2"), url("../fonts/AdventPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GTEestiProText;
	font-display: swap;
	src: url("../fonts/GTEestiProText-Bold.woff2") format("woff2"), url("../fonts/GTEestiProText-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: AdventPro;
	font-display: swap;
	src: url("../fonts/AdventPro-Regular.woff2") format("woff2"), url("../fonts/AdventPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GTEestiProText;
	font-display: swap;
	src: url("../fonts/GTEestiProText-Bold.woff2") format("woff2"), url("../fonts/GTEestiProText-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: GTEestiProText;
	font-display: swap;
	src: url("../fonts/GTEestiProText-Medium.woff2") format("woff2"), url("../fonts/GTEestiProText-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: GTEestiProText;
	font-display: swap;
	src: url("../fonts/GTEestiProText-Regular.woff2") format("woff2"), url("../fonts/GTEestiProText-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GTEestiProText;
	font-display: swap;
	src: url("../fonts/GTEestiProText-Medium.woff2") format("woff2"), url("../fonts/GTEestiProText-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: VisueltPro;
	font-display: swap;
	src: url("../fonts/VisueltPro-Medium.woff2") format("woff2"), url("../fonts/VisueltPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: GTEestiProText;
	font-display: swap;
	src: url("../fonts/GTEestiProText-Regular.woff2") format("woff2"), url("../fonts/GTEestiProText-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: VisueltPro;
	font-display: swap;
	src: url("../fonts/VisueltPro-Medium.woff2") format("woff2"), url("../fonts/VisueltPro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: VisueltPro;
	font-display: swap;
	src: url("../fonts/VisueltPro-Regular.woff2") format("woff2"), url("../fonts/VisueltPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: VisueltPro;
	font-display: swap;
	src: url("../fonts/VisueltPro-Regular.woff2") format("woff2"), url("../fonts/VisueltPro-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
